<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cq_player.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E6375191EC45AF60040CF09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E6375321EC45AF70040CF09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E63753D1EC45AF70040CF09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
